/local.properties
.gradle
.project
.settings
/.idea
/*.iml
*/*.iml
.DS_Store
/build
*/build
/capturesdo.sh
cdn_upload.sh
UploadProperties.gradle
do.sh
wink-patch-lib/build.gradle
wink-gradle-plugin/build.gradle
wink-gradle-plugin/build.gradle
